<h2>ラーメン二郎の手引</h2>

<p>
ラーメン二郎、二郎系インスパイアなどと呼ばれるラーメンに、どのようなイメージをお持ちでしょうか？
</p>
<p>
怖い、量が多い、残すと怒られる、
</p>
<p>
などなど・・・マイナスなイメージのせいで『興味があっても行きづらい！』という人は多いのではないでしょうか。
</p>
<p>
ここで"二郎の基本"を知ることで、二郎に対する不安を解消してみてください！
</p>

<h3>
二郎で最低限気をつけること
</h3>
<h3>
列の並び方、食券の買い方
</h3>
<h3>
着席
</h3>
<h3>
コール
</h3>
<h3>
着丼~食事中
</h3>
<h3>
食後
</h3>
<h2>
番外編
</h2>
<h3>
鍋二郎
</h3>
<h3>
｢ラーメン二郎｣の由来
</h3>
<h3>
二郎と二郎系インスパイアについて
</h3>

