// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.box01{
    width:100%;
    height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      animation: img_anime 16s ease infinite;
}

@keyframes img_anime {
    0% {
    background-image: 
        url("三田本店_ラーメン1.jpg");
        background-color:rgba(255,255,255,0.2);
    }
    20% {
    background-image:
        url("三田本店_ラーメン1.jpg");
        background-color:rgba(255,255,255,0.2);
        }
    35% {
    background-image:
        url("三田本店_看板.jpg");
        background-color:rgba(255,255,255,0.2);
        }
    53% {
    background-image: 
        url("三田本店_看板.jpg");
        background-color:rgba(255,255,255,0.2);
        }
    68% {
    background-image: 
        url("目黒店_ラーメン1.jpg");
        background-color:rgba(255,255,255,0.2);
        }
    85% {
    background-image: 
        url("目黒店_ラーメン1.jpg");
        background-color:rgba(255,255,255,0.2);
        }
    100% {
    background-image: 
        url("三田本店_ラーメン1.jpg");
        background-color:rgba(255,255,255,0.2);
        }
} 