// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.test_box01{
    width:100%;
    max-width: 800px;
    height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      animation: img_anime 16s ease infinite;
}
.test_box01 p{
  color: #FFF;
  font-size: 40px;
}
  /* アニメーション */
  @keyframes img_anime {
      0% {
      background-image: url("../images/三田本店_ラーメン1"); /* 背景画像1を指定 */
      }
      20% {
      background-image: url("../images/三田本店_ラーメン1"); /* 背景画像1を指定 */
          }
      35% {
      background-image: url("../images/三田本店_看板"; /* 背景画像2を指定 */
          }
      53% {
      background-image: url("../images/三田本店_看板"); /* 背景画像2を指定 */
          }
      68% {
      background-image: url("../images/目黒店_ラーメン1"); /* 背景画像3を指定 */
          }
      85% {
      background-image: url("../images/目黒店_ラーメン1"); /* 背景画像3を指定 */
          }
      100% {
      background-image: url("../images/三田本店_ラーメン1"); /* 背景画像1を指定 */
          }
      } 